<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/app.css" />

<!-- adding form for airports -->
<form action="/feed" method="GET">
  <label for="Airport">Choose an Airport:</label>
  <select name="airport" id="dropDown">
    <option id="1" value="Del Bajío International Airport">Del Bajío International Airport</option>
    <option id="2" value="General Juan N. Álvarez International Airport">General Juan N. Álvarez International Airport</option>
    <option id="3" value="Jesús Terán Peredo International Airport">Jesús Terán Peredo International Airport</option>
    <option id="4" value="Agualeguas National Airport">Agualeguas National Airport</option>
    <option id="5" value="Álamos National Airport">Álamos National Airport</option>
    <option id="6" value="Pablo L Sidar National Airport">Pablo L Sidar National Airport</option>
    <option id="7" value="Jorge Jiménez Cantú National Airport">Jorge Jiménez Cantú National Airport</option>
    <option id="8" value="Cabo San Lucas International Airport">Cabo San Lucas International Airport</option>
    <option value="Ing. Alberto Acuña Ongay International Airport">Ing. Alberto Acuña Ongay International Airport</option>
    <option value="Cananea National Airport">Cananea National Airport</option>
    <option value="Cancún International Airport">Cancún International Airport</option>
    <option value="Isla de Cedros Airport">Isla de Cedros Airport</option>
    <option value="Captain Rogelio Castillo National Airport">Captain Rogelio Castillo National Airport</option>
    <option value="Chetumal International Airport">Chetumal International Airport</option>
    <option value="Chichen Itza International Airport">Chichen Itza International Airport<option>
    <option value="General Roberto Fierro Villalobos International Airport">General Roberto Fierro Villalobos International Airport</option>
    <option value="Chilpancingo National Airport">Chilpancingo National Airport</option>
    <option value="Ciudad Acuña International Airport">Ciudad Acuña International Airport</option>
    <option value="Santa Barbara Regional Airport">Santa Barbara Regional Airport</option>
    <option value="Ciudad Constitución Airport">Ciudad Constitución Airport</option>
    <option value="Ciudad del Carmen International Airport">Ciudad del Carmen International Airport</option>
    <option value="Ciudad Mante National Airport">Ciudad Mante National Airport</option>
    <option value="Abraham González International Airport">Abraham González International Airport</option>
    <option value="Ciudad Obregón International Airport">Ciudad Obregón International Airport</option>
    <option value="General Pedro J. Méndez International Airport">General Pedro J. Méndez International Airport</option>
    <option value="Lic. Miguel de la Madrid Airport">Lic. Miguel de la Madrid Airport</option>
    <option value="Copalar Air Force Base Num 17">Copalar Air Force Base Num 17</option>
    <option value="Cozumel International Airport">Cozumel International Airport</option>
    <option value="General Mariano Matamoros Airport">General Mariano Matamoros Airport</option>
    <option value="de Bachigualato International Airport">de Bachigualato International Airport</option>
    <option value="Aeropuerto Nacional Ta Lo De Soto">Aeropuerto Nacional Ta Lo De Soto</option>
    <option value="General Guadalupe Victoria International Airport">General Guadalupe Victoria International Airport</option>
    <option value="El Ciprés Air Force Base Num 3">El Ciprés Air Force Base Num 3</option>
    <option value="Don Miguel Hidalgo y Costilla International Airport">Don Miguel Hidalgo y Costilla International Airport</option>
    <option value="Campo Cuatro Milpas Airport">Campo Cuatro Milpas Airport</option>
    <option value="General José María Yáñez International Airport">General José María Yáñez International Airport</option>
    <option value="Guerrero Negro Airport">Guerrero Negro Airport</option>
    <option value="General Ignacio Pesqueira Garcia International Airport">General Ignacio Pesqueira Garcia International Airport</option>
    <option value="Bahías de Huatulco International Airport">Bahías de Huatulco International Airport</option>
    <option value="Isla Guadalupe Airport">Isla Guadalupe Airport</option>
    <option value="Isla María Madre Naval Air Station">Isla María Madre Naval Air Station</option>
    <option value="Isla Mujeres National Airport">Isla Mujeres National Airport</option>
    <option value="Ixtapa-Zihuatanejo International Airport">Ixtapa-Zihuatanejo International Airport</option>
    <option value="Ixtepec Airport">Ixtepec Airport</option>
    <option value="Manuel Márquez de León International Airport">Manuel Márquez de León International Airport</option>
    <option value="Francisco Primo de Verdad National Airport">Francisco Primo de Verdad National Airport</option>
    <option value="Lázaro Cárdenas Airport">Lázaro Cárdenas Airport</option>
    <option value="Del Bajío International Airport">Del Bajío International Airport</option>
    <option value="Loreto International Airport">Loreto International Airport</option>
    <option value="Los Cabos International Airport">Los Cabos International Airport</option>
    <option value="del Valle del Fuerte International Airport">del Valle del Fuerte International Airport</option>
    <option value="Playa de Oro International Airport">Playa de Oro International Airport</option>
    <option value="General Servando Canales International Airport">General Servando Canales International Airport</option>
    <option value="Manuel Moreno Torres National Airport">Manuel Moreno Torres National Airport</option>
    <option value="General Rafael Buelna International Airport">General Rafael Buelna International Airport</option>
    <option value="Manuel Crescencio Rejón International Airport">Manuel Crescencio Rejón International Airport</option>
    <option value="General Rodolfo Sánchez Taboada International Airport">General Rodolfo Sánchez Taboada International Airport</option>
    <option value="Aeropuerto Internacional Benito Juárez">Aeropuerto Internacional Benito Juárez</option>
    <option value="Minatitlán/Coatzacoalcos National Airport">Minatitlán/Coatzacoalcos National Airport</option>
    <option value="Venustiano Carranza International Airport">Venustiano Carranza International Airport</option>
    <option value="General Mariano Escobedo International Airport">General Mariano Escobedo International Airport</option>
    <option value="Del Norte International Airport">Del Norte International Airport</option>
    <option value="General Francisco J. Mujica International Airport">General Francisco J. Mujica International Airport</option>
    <option value="Mulegé National Airport">Mulegé National Airport</option>
    <option value="Navojoa Airport">Navojoa Airport</option>
    <option value="Nogales International Airport">Nogales International Airport</option>
    <option value="Nuevo Casas Grandes Municipal Airport">Nuevo Casas Grandes Municipal Airport</option>
    <option value="Quetzalcóatl International Airport">Quetzalcóatl International Airport</option>
    <option value="Xoxocotlán International Airport">Xoxocotlán International Airport</option>
    <option value="Ing. Juan Guillermo Villasana National Airport">Ing. Juan Guillermo Villasana National Airport</option>
    <option value="Palenque International Airport">Palenque International Airport</option>
    <option value="León Gonzalez Pie de la Cuesta Air Force Base Num 7">León Gonzalez Pie de la Cuesta Air Force Base Num 7</option>
    <option value="Piedras Negras International Airport">Piedras Negras International Airport</option>
    <option value="Playa del Carmen National Airport">Playa del Carmen National Airport</option>
    <option value="El Tajín National Airport">El Tajín National Airport</option>
    <option value="Hermanos Serdán International Airport">Hermanos Serdán International Airport</option>
    <option value="Puerto Escondido International Airport">Puerto Escondido International Airport</option>
    <option value="Puerto Peñasco International Airport">Puerto Peñasco International Airport</option>
    <option value="Lic. Gustavo Díaz Ordaz International Airport">Lic. Gustavo Díaz Ordaz International Airport</option>
    <option value="Querétaro International Airport">Querétaro International Airport</option>
    <option value="Ing. Fernando Espinoza Gutiérrez International Airport (closed)">Ing. Fernando Espinoza Gutiérrez International Airport (closed)    z</option>
    <option value="Lucio Blanco International Airport">Lucio Blanco International Airport</option>
    <option value="Salina Cruz Naval Air Station">alina Cruz Naval Air Station</option>
    <option value="Plan de Guadalupe International Airport">Plan de Guadalupe International Airport</option>
    <option value="San Cristóbal de las Casas National Airport (closed)">San Cristóbal de las Casas National Airport</option>
    <option value="San Felipe International Airport">San Felipe International Airport</option>
    <option value="Ponciano Arriaga International Airport">Ponciano Arriaga International Airports</option>
    <option value="San Luis Río Colorado Airport">San Luis Río Colorado Airport</option>
    <option value="Santa Lucía Air Force Base Num 1">Santa Lucía Air Force Base Num 1</option>
    <option value="Palo Verde Airport">Palo Verde Airport</option>
    <option value=" Francisco Javier Mina International Airport">Francisco Javier Mina International Airport</option>
    <option value="Tamuín National Airport">Tamuín National Airport</option>
    <option value="Tapachula International Airport">Tapachula International Airport</option>
    <option value="Teacapan Naval Air Station">Teacapan Naval Air Station</option>
    <option value="Tehuacán National Airport">Tehuacán National Airport</option>
    <option value="Amado Nervo National Airport">Amado Nervo National Airport</option>
    <option value="Abelardo L. Rodríguez International Airport">Abelardo L. Rodríguez International Airport</option>
    <option value="Cupul National Airport">Cupul National Airport</option>
    <option value="Lic. Adolfo López Mateos International Airport">Lic. Adolfo López Mateos International Airport</option>
    <option value="Francisco Sarabia International Airport">Francisco Sarabia International Airport</option>
    <option value="Tulum Naval Air Station">Tulum Naval Air Station</option>
    <option value="Zapotiltic National Airport">Zapotiltic National Airport</option>
    <option value="Angel Albino Corzo International Airport">Angel Albino Corzo International Airport</option>
    <option value="Terán Air Force Base Num 6">erán Air Force Base Num 6</option>
    <option value="Uruapan International Airport">Uruapan International Airport</option>
    <option value="Heriberto Jara International Airport">Heriberto Jara International Airport</option>
    <option value="Carlos Rovirosa Pérez International Airport">Carlos Rovirosa Pérez International Airpor</option>
    <option value="El Lencero Airport">El Lencero Airport</option>
    <option value="Leobardo C. Ruiz International Airport">Leobardo C. Ruiz International Airport</option>
    <option value="Zamora National Airport">Zamora National Airport</option>
    <option value="Zapopan Air Force Base Num 5">Zapopan Air Force Base Num 5</option>
</select>
<button type="submit" class="btn btn-primary">Search</button></form>


  <div class="container" id="feed">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="image">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid image__img" src="<%= posts[i].image%>">
              <div class="image__overlay">
                <div class="image__title">Example</div>
                <p class="image__description">description</p>
              </div>
            </a>
          </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>