<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-around mt-5">
    <a href="/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
  <div id="intro">
    <h2 class="welcome">Welcome:</h2>
    <p class="welcomePar">
     Mexico has a rich and colorful history with various climates and terrains. The Pueblos Magicos are Magical towns
      located all over Mexico. However, many people are unaware that these towns exist. For that reason, I've created a web app that will show you the true beauty of Mexico and hopefully encourage you to visit one (or many) of
      these Pueblos! I hope you enjoy and happy exploring!
      <a href="/login" class="demo">Click for Demo</a>
    </p>
    <h2 class="welcome">How to use this website:</h2>
    <p class="welcomePar">
      While the website does have nearby airports to the Pueblos. I want you to
      explore the towns and do further research if you are planning on visiting.
      There are various routes to getting to these Pueblos depending on where
      you are coming from. Let your curiosity guide you. - Jaime
    </p>
  </div>
</main>

<%- include('partials/footer') -%>
