.navbar {
  width: 100%;
  height: 200px;
	padding: 0%;
	margin: auto 0%;
  background-image: url("../imgs/gtoBanner.jpg"); 
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#000000;
  border-bottom: 2px solid black;
  box-shadow: 4px 4px 3px #747070;
}

body{
  background-color: #fff9ef;
  margin: 0;
  padding: 0;
}


#feed {
  background-color: #11ffee00;
  background-size: 80%;
  margin-bottom: 2.5%;
}
#feed_ul_Background {
  background-color: #11ffee00;
  
}

.postButton {
  margin-right: .5%;
  padding-bottom: .5%;
}

.image__title {
  border: 2px solid black;
  background-color: #2C9FF5;
  color: black;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px #867f7f;
  
}
.image__title_anchor {
  text-decoration: none;
}
.feed_imgs{ 
  border: 2px solid black;
  box-shadow: 10px 10px 8px #747070;

  opacity: .9;
  transition: .5s;
}
.feed_imgs:hover{ 
  border: 2px solid black;
  opacity: 1;
  transform: scale(1.0125, 1.0125);
}


/* Pueblo post page style */
.post-Container {
  box-shadow: 8px 8px 6px #747070;
  display: flex;
  background: #2C9FF5;
  flex-direction: column;
  margin-bottom: 10%;
  border: 3px solid black;
}
.puebloPost {
  color: black;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  margin: .5% 0%;
  padding: 1% 1%;
} 

 .post-Container h3 {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: .5% 0%;
  padding: 1% 1%;
} 


.puebloPostContainer {
  display: flex;
  justify-content: center;
}
.puebloTitle {
  font-size: 3.5rem;
  text-shadow: 2px 2px #867f7f;
}

.post-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5% 25%;
}

.descriptionLearnMore {
  height: auto;
  padding: .25% 2%;
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
}
#puebloPost_description {
  text-align: justify;
  overflow: auto;
}
.postImgDiv{
margin-top: .5%;
margin-bottom: .5%;
width:  100%;
background-size: cover;
}
.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.post_anchor_text {
  text-decoration: none;
}


/* profile page  */
.profile {
  background-color: #11ffee00;
  margin-bottom: 5%;
  border: 1px solid black;
  transition: 1s;
}
.profileImg{
  opacity: .9;
  box-shadow: 10px 10px 8px #747070;
}

.profileImg:hover {
  opacity: 1;
  transform: scale(1.0125, 1.0125)
}
.image__title_profile{
  border: 1px solid black;
  background-color: #2C9FF5;
  color: black;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
}
/* mobile responsive */
@media screen and (max-width: 851px) {
  .loginTitleDiv {
    opacity: 0.95;
  height: 100%;
  width: 50%;
  
  }

  .loginTitle_anchor {
    margin: auto;
    display: block;
    margin: auto;
    height: 40%;
    width: 100%;
   }

  .pueblos_logo_img {
    opacity: .9;
    margin-top: 15%;
    margin-right: 32.5%;
    object-fit: cover;
    border: 3px solid white;
    width: 100%;
    height: 100%;
    border-radius: 25% 25%;
  }
 
.image {
  display: block;
  width: 95%;
  height: 200px;
}
.profileImg{
  padding: auto;
  margin: 0% 1%;
  opacity: .9;
  box-shadow: 8px 8px 6px #747070;
}
.profileImg:hover {
  opacity: 1;
  transform: scale(1.0125, 1.0125)
}

.post-Container {
  font-size: .5em;
  width: 90%;
  
}
.post-buttons {
  margin: .5%
}
.puebloTitle {
  text-shadow: 2px 2px #867f7f;
}

/* feed page */
.body {
  height: auto;
}
#mapBox_div {
  background-color:#fff9ef;
  display: flex;
  border-radius: 25%;
}
#dropDown{ 
 justify-content: center;
 opacity: .9;
 width: 90%;
 padding: 1% 2%;
 margin: 2% 0%;
 background-color: #90a9bd;
 color: black;
 font-size: .95rem;
 font-weight: 500;
}
#dropDown option{
  width: 80%;
  margin: auto;
}
.mapContainer{
  margin-top: 2.5%;
  width: 90%;
  height: 75%;
  border: 3px solid rgb(221, 124, 140);

}
.map {
  width: auto;
}

}


