body {
  background-image: url("https://images.unsplash.com/photo-1518105779142-d975f22f1b0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  color: #dddddd;
}

.profile {
  background: rgba(21, 169, 232, 0.5);
  margin-bottom: 5%;
}

#feed {
  background: rgba(64, 74, 165, 0.5);
}

/* overlay hover box */
.image {
  position: relative;
  max-width: 400px;
  max-height: 400px;
}
.image:hover {
  transform: scale(1.05);
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
  transform: scale(1.025);
}

.image__overlay:hover > {
  transform: translateY(0);
}
.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

/* Pueblo post page style */
.puebloPost {
  color: black;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  background: rgba(21, 169, 232, 0.5);
  margin-bottom: 5%;
}

.puebloPostContainer {
  display: flex;
  justify-content: center;
}
