body {
  background-image: url("https://res.cloudinary.com/pueblosmagicos/image/upload/v1624633109/PueblosWebsitePhotosBackground/gto_sky_and_church_xoyenm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  color: #dddddd;

}

.profile {
  background: rgba(21, 169, 232, 0.5);
  margin-bottom: 5%;
}

#feed {
  background: blanchedalmond;
  background-size: 80%;
  margin-bottom: 2.5%;
}
#feed_ul_Background {
  background-color: blanchedalmond;
  
}

.postButton {
  margin-right: .5%;
  padding-bottom: .5%;
}

.image__title {
  color: black;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  margin: .5% 0%;
  padding: 1% 1%;
  font-size: 2rem;
  text-shadow: 1px 1px #867f7f;
  text-decoration: none;
}

/* Pueblo post page style */
.post-Container {
  display: flex;
  background: cornsilk;
  flex-direction: column;
  margin-bottom: 10%;
}
.puebloPost {
  color: black;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  margin: .5% 0%;
  padding: 1% 1%;
}

.puebloPostContainer {
  display: flex;
  justify-content: center;
}
.puebloTitle {
  font-size: 3.5rem;
  text-shadow: 2px 2px #867f7f;
}

.post-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5% 25%;
}

.descriptionLearnMore {
  height: 375px;
  text-align: justify;
  text-justify: inter-word;
  overflow: scroll;
}
.postImgDiv{
margin-top: .5%;
margin-bottom: .5%;
width:  100%;
background-size: cover;
}
.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* profile page  */
.profileImg:hover {
  transform: scale(1.025);
}


@media screen and (max-width: 851px) {

.image {
  display: block;
  width: 95%;
  height: 200px;
}

.post-Container {
  font-size: .5em;
  width: 90%;
}
.post-buttons {
  margin: .5%
}
.puebloTitle {
  text-shadow: 2px 2px #867f7f;
}

/* feed page */
.body {
  height: auto;
}

#dropDown{ 
  width: 80%;
  margin: auto;
}
#dropDown option{
  width: 80%;
  margin: auto;
}
.mapContainer{
  width: 95%;
}
.map {
  width: auto;
}

}


