body {
  background-image: url("https://res.cloudinary.com/pueblosmagicos/image/upload/v1623767760/PueblosWebsitePhotosBackground/GtoBlueYellow_f8nnbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #dddddd;
}

#intro {
  margin-top: 5%;
  padding-left: 2%;
  color: black;
  font-size: 1.25em;
  background: blanchedalmond;
  opacity: 0.9;
  border: 2.5px solid black;
}
.welcome {
  color: rgb(8, 24, 28);
  margin: auto;
  padding-left: 2.5%;
  font-family: sans-serif;
}

.welcomePar {
  padding: 0%, 2%, 0, 2%;
  color: black;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-family: sans-serif;
}

/* sign up page  */
.form-label {
  color: black;
  background: blanchedalmond;
  padding-left: 1.25%;
  padding-right: 1.25%;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.emailSharing {
  color: white;
  background: rgb(129, 111, 111);
  display: inline;
}
