body {
  background-image: url("https://res.cloudinary.com/pueblosmagicos/image/upload/v1623767760/PueblosWebsitePhotosBackground/GtoBlueYellow_f8nnbg.jpg");
  background-size: cover;
  color: #dddddd;
}

#intro {
  margin-top: 5%;
  padding-left: 2%;
  color: black;
  font-size: 1.25em;
  background: blanchedalmond;
  opacity: 0.9;
}
.welcome {
  color: rgb(8, 24, 27);
  margin: auto;
  padding-left: 2.5%;
}

.welcomePar {
  padding: 0%, 2%, 0, 2%;
  color: black;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
