.loginTitle {
  color: rgb(221, 124, 140);

  width: auto;
  background: rgb(99, 194, 194);
  font-size: 4rem;
  text-decoration: none;
  font-family: "Pattaya", sans-serif;
}

.loginTitleDiv {
  opacity: 0.95;
  background-size: cover;
  display: flexbox;
  justify-content: center;
}

.btn {
  background: rgb(221, 124, 140);
  opacity: 0.9;
}
