.loginTitle a {
  color: rgb(221, 124, 140);
  font-size: 2em;
  font-family: "Pattaya", sans-serif;
  background: rgb(99, 194, 194);
  opacity: 0.9;
}

span {
  color: (221, 124, 140);
  font-family: "Pattaya", sans-serif;
  font-size: 2em;
  background: rgb(99, 194, 194);
  opacity: 0.9;
}

.btn {
  background: rgb(221, 124, 140);
  opacity: 0.9;
}
