.loginTitle {
  color: rgb(221, 124, 140);
  display: inline;
  background: rgb(99, 194, 194);
  padding-left: 1.25%;
  padding-right: 1.25%;
  font-size: 3.5rem;
  text-decoration: none;
  font-family: "Pattaya", sans-serif;
  justify-content: center;
  border-radius: 5px 5px;
}

.loginTitleDiv {
  opacity: 0.85;
  display: flexbox;
  justify-content: center;
}

.btn {
  background: rgb(221, 124, 140);
  opacity: 0.95;
  margin-top: 0.5%;
}

/* feed page */
.airportFeedForm {
  margin-top: 2.5%;
  margin-left: 1.5%;
}
